body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes-container {
    width: 80%;
    height: 250px;
    background: gray;
}

.block-quote {
    padding: 20px;
    display: inline-block;
}
